:root {
  --square-size: min(calc(86vh / 8), calc(86vw / 6));
}
html {
  touch-action: none;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  height: 100%;
}
body {
  margin: 0;
  background-color: darkslategray;
  height: 100%;
}

#game {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
#board {
  display: grid;
  gap: calc(var(--square-size) / 10);
}
.square {
  width: var(--square-size);
  height: var(--square-size);
  background-color: lightslategray;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
}
.square.active {
  background-color: slategray;
}
.square[data-count]::after {
  font-size: calc(var(--square-size) * 0.5);
  content: attr(data-count);
  font-family: monospace;
  font-weight: bold;
  color: #ddd;
}
.square.mine {
  background-color: black;
  background-image: url("./svg/explosion.svg");
  background-size: 65%;

}
.square.flag {
  background-color: red;
  background-image: url("./svg/flag.svg");
  background-size: 50%;
}
#gameOver {
  opacity: 0.5;
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  display: none;
}
#gameOver.win {
  background-color: green;
  display: initial;
}
#gameOver.lose {
  background-color: red;
  display: initial;
}
